<!DOCTYPE html>
<html>
 <title>Add Customer</title>
<head>
<style>
#myDIV {
    border: 1px solid black;
    margin-bottom: 10px;
}
</style>

</head>
<body>


<div>
<form action="/addService" method="post">
    Name:<input type="text" name="name"><br>
    Email No:<input type="text" name="email"><br>
    
    Mobile No:<input type="Number" name="mobileNo"><br><br>

    <button type="submit">Submit</button>

    </form>
     
    
    

</div>




</body>
</html>


