<!DOCTYPE html>
<html>
 <title> provider login</title>
<head>
<style>
#myDIV {
    border: 1px solid black;
    margin-bottom: 10px;
}
</style>

</head>
<body>


<div>
<form action="/providerLogin" method="post">
    
    Email No:<input type="text" name="email"><br>
    
    Password:<input type="text" name="password"><br><br>

    <button type="submit">Submit</button>

    </form>
     
    
    

</div>




</body>
</html>


