<!DOCTYPE html>
<html>
 <title>Update Customer</title>
<head>
<style>
#myDIV {
    border: 1px solid black;
    margin-bottom: 10px;
}
</style>

</head>
<body>


<div>
<form action="/UpdateCustomer" method="post">
    Name:<input type="text" name="name"><br>
    Email:<input type="text" name="email"><br>
    Password:<input type="password" name="password"><br>
    Mobile No:<input type="Number" name="mobileNo"><br><br>

    <button type="submit">Submit</button>

    
     
    
    

</div>




</body>
</html>


